body {
    margin: 2%
}

 @media only screen and (max-width: 767px) {

    .container1 {
        display: flex;
        justify-content: space-between;
    }
    .meniu1>div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    .meniu2 {
        display: none;
    }
    .text>h1 {
        font-size: 42px;
    }
    .container2 {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .txtpurple {
        color: purple;
        font-weight: bold;
        margin-top: 10%;
    }
    .txtnormal {
        color: rgb(73, 68, 68);
    }
    .graphic {
        margin-left: 12%;
    }

    .graphic img {
        width: 104%;
    }

    .button1 {
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 13px 27px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 28%;
        cursor: pointer;
    }

    .container3 {
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: black;
    }
    .txtbig {
        position: absolute;
        top: 43%; 
        bottom: 0%;
        left: 2%; 
        right: 0%;
        width: 100%; 
        font-weight: bold;
        font-size: larger;
        text-align: left;
    }
    .txtsmall {
        position: absolute;
        top: 69%; 
        bottom: 0%;
        left: 2%; 
        right: 0%;
        width: 100%; 
        text-align: left;
    }

    .container4>img {
        /* width: 150px;
        margin-right: 111px;  */
        border: 2px solid white;
        width: 33%;
        /* margin: 1.66%; */
    }

    .nodisplay {
        display: none;
    }

    .txtbig1 {
        font-weight: bold;
        font-size: larger;
        margin-top: 8%;
        margin-bottom: 2%;
    }
    .txtnormal1 {
        margin-bottom: 5%;
        display: inline-block;
    }
    .container6 {
        width: 99%;
    }
    .uncover {
        display: inline-block;
    }
    .hide {
        display: none;
    }
    .ntf11 {
        margin-left: 1px;
        margin-right: 1px;
    }
    .ntf12 {
        margin-left: 222px;
        margin-right: 1px;
        margin-top: -20px;
    }
    .ntf21 {
        margin-left: 1px;
        margin-right: 1px;
    }
    .ntf22 {
        margin-left: 222px;
        margin-right: 1px;
        margin-top: -20px;
    }
    .ntf31 {
        margin-left: -221px;
        margin-right: 1px;
    }
    .ntf32 {
        margin-left: 1px;
        margin-right: 1px;
        margin-top: -18px;
    }
    .ntf21>img {
        margin-left: 45%;
    }
    .text2 {
        display: inline-block;
        width: 66%;
        margin-bottom: 3%;
    }
    .txtnormal2 {
        width: 65%;
    }
    .graphic2 {
        display: inline-block;
        margin-left: 64%;
        margin-top: -38%;
        
    }

    .graphic2 img {
        width: 66%;
    }
    .container9a {
        display: inline-block;
        width: 37%;
    }
    .container9a>h4 {
        height: 0;
    }
    .container9b {
        display: inline-block;
        width: 37%;
    }
    .container9b>h4 {
        height: 0;
    }
    .container9c {
        display: inline-block;
        width: 37%;
    }
    .container9c>h4 {
        height: 0;
    }
    .container9d {
        display: inline-block;
        width: 37%;
    }
    .container9d>h4 {
        height: 0;
    }
    .about {
        padding: 0%;
        margin: 0%;
    }
    .nft {
        padding: 0%;
        margin: 0%;
    }
    .contact {
        padding: 0%;
        margin: 0%;
    }
    .social {
        padding: 0%;
        margin: 0%;
    }
    .footer {
        margin-top: 15%;
    }
    .txtnormal3 {
            color: rgb(73, 68, 68);
            margin-top: 2%;
            margin-bottom: 2%;
    }
    .logo1>img {
        margin-top: 4%;
        margin-bottom: 2%;
    }
    
    .button2 {
        display: block;
        width: 25%;
        margin-bottom: 2%;
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 13px 27px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        border-radius: 28%;
        cursor: pointer;
    }
    
    .footer {
        margin-top: 32%;
    }
    .lfooter {
        color: rgb(219, 212, 201);
        display: inline-block;
    }
    .rfooter {
        color: rgb(219, 212, 201);
        display: inline-block;
        float: right;
    }
 }
 @media only screen and (min-width: 768px) {
  /* body {
    background-color: rgb(221, 214, 214);
    } */
    .container1 {
        display: flex;
        justify-content: space-between;
    }
    .meniu1 {
        display: none;
    }
    .meniu2 {
        width: 210px;
        height: 5px;
        margin: 6px 0;
    }
    .text>h1 {
        font-size: 42px;
    }
    .container2 {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    .txtpurple {
        color: purple;
        font-weight: bold;
        margin-top: 10%;
    }
    .txtnormal {
        color: rgb(73, 68, 68);
    }
    .graphic {
        display: inline-block;
    }
    .graphic img {
        width: 103%;
    }
    .button1 {
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 13px 27px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 28%;
        cursor: pointer;
    }
    .container3 {
        position: relative;
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: black;
    }
    .txtbig {
        position: absolute;
        top: 43%; 
        bottom: 0%;
        left: 2%; 
        right: 0%;
        width: 100%; 
        font-weight: bold;
        font-size: larger;
        text-align: left;
    }
    .txtsmall {
        position: absolute;
        top: 69%; 
        bottom: 0%;
        left: 2%; 
        right: 0%;
        width: 100%; 
        text-align: left;
    }
    .nodisplay {
        display: inline-block;
    }
    .txtbig1 {
        font-weight: bold;
        font-size: larger;
        margin-top: 8%;
        margin-bottom: 2%;
    }
    
    .txtnormal1 {
        margin-bottom: 5%;
        display: inline-block;
    }
    .txtnormal3 {
        color: rgb(73, 68, 68);
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .logo1>img {
        margin-top: 4%;
        margin-bottom: 2%;
    }
     
    .button2 {
        display: block;
        width: 11%;
        margin-bottom: 2%;
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 13px 27px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        border-radius: 28%;
        cursor: pointer;
    }
    
    .uncover {
        display: inline-block;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .hide {
        display: inline-block;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .ntf11 {
        margin-left: 1px;
        margin-right: 1px;
    }
    .ntf12 {
        margin-left: 222px;
        margin-right: 1px;
        margin-top: -20px;
    }
    .ntf21 {
        margin-left: 1px;
        margin-right: 1px;
    }
    .ntf22 {
        margin-left: 222px;
        margin-right: 1px;
        margin-top: -20px;
    }
    .ntf31 {
        margin-left: -221px;
        margin-right: 1px;
    }
    .ntf32 {
        margin-left: 1px;
        margin-right: 1px;
        margin-top: -18px;
    }

    .ntf21>img {
        margin-left: 45%;
    }
    .text2 {
        display: inline-block;
        margin-bottom: 3%;
        width: 32%;
    }
    .graphic2 {
        margin-left: 64%;
        margin-top: -16%;
        display: inline-block;
    }
    .graphic2 img {
        width: 88%;
    }
    .container6 {
        position: fixed;
    }
    .container8 {
        display: inline-block;
    }
    .container9 {
        display: inline-block;
        float: right;
        width: 46%;
    }
    .container9a {
        display: inline-block;
        width: 17%;
    }
    .container9a>h4 {
        height: 0;
    }
    .container9b {
        display: inline-block;
        width: 17%;
    }
    .container9b>h4 {
        height: 0;
    }
    .container9c {
        display: inline-block;
        width: 17%;
    }
    .container9c>h4 {
        height: 3;
    }
    .container9d {
        display: inline-block;
        width: 17%;
    }
    .container9d>h4 {
        height: 3;
    }
    .about {
        padding: 0%;
        margin: 0%;
    }
    .nft {
        padding: 0%;
        margin: 0%;
    }
    .contact {
        padding: 0%;
        margin: 0%;
    }
    .social {
        padding: 0%;
        margin: 0%;
    }
    .footer {
        margin-top: 15%;
    }
    .lfooter {
        color: rgb(219, 212, 201);
        display: inline-block;
    }
    .rfooter {
        color: rgb(219, 212, 201);
        display: inline-block;
        float: right;
    }
 }